.background {
    background-color: #0fa8a8;
    width: 100%;
    height: 700px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: grid;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel {
    cursor: grab;
    overflow: hidden;
}

.inner {
    display: flex;
}

.card {
    height: 400px;
    min-width: 600px;
    min-height: 450px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 128, 128, 0.212);
    background-color: white;
    font-size: smaller;
}

.botao {
    width: 100%;
    height: 15%;
}

.button {
    background-color: #0e7e7e;
    border: 1px solid #939393;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    width: 300px;
    cursor: pointer;
    margin-left: 150px;
}

.conteudo {
    width: 100%;
    border: 1px solid white;
    height: 85%;
}

.name {
    font-size: xx-large;
    margin: 20px;
}

.description {
    font-size: large;
    margin-top: 8px;
}

.price {
    font-size: large;
    margin-top: 8px;
    color: rgb(25, 190, 25);
    font-weight: bold;
}

.details {
    font-size: medium;
    margin-top: 8px;
    color: black;
    font-weight: bolder;
}

.dimension {
    font-size: medium;
    margin-top: 8px;
    color: grey;
}

.material {
    font-size: medium;
    margin-top: 8px;
    color: grey;
}

.productionTime {
    font-size: medium;
    margin-top: 8px;
    color: grey;
}

.images {
    margin-left: 220px;
    margin-bottom: 10px;
}

@media only screen and (max-device-width: 1300px) {
    .container {
        max-width: 1000px;
    }
}