.container {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #e6e9ed;
}

.text {
    font-size: 14px;
    margin-top: 20px;
    color: black;
    font-weight: bolder;
}

.child {
    width: 370px;
}

.ets {
    margin-top: 5px;
}

.dta {
    margin-top: 10px;
}