.container {
    display: flex;
    justify-content: space-around;
}

.text {
    font-size: 14px;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
}

.child {
    width: 370px;
}

.ets {
    margin-top: 1px;
}

.dta {
    margin-top: 1px;
}

.rodape {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: small;
    font-weight: bolder;
    color: BLACK;
    background-color: white;
    bottom: 0;
}

.rodape p {
    cursor: pointer;
}