@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
* {
    font-family: 'Bitter', serif;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}