.container {
    display: flex;
    width: 100%;
    height: 70px;
}

.child {
    width: 50%;
}

.logoBrindes {
    float: right;
    margin-right: 50px;
    margin-top: 18px;
}

.logoBosch {
    margin-left: 15px;
    margin-top: 22px;
}